<div class="jumbotron bg-success text-white">
  <h1 class="text-center display-1 ">EAT-DA-BURGER</h1>
</div>
<div class="container">
  <div class="row text-center text-bolder text-white">
    <div class="col-6">
      <div class="shadow-lg p-3 mb-5 bg-success rounded">
        <h1>Un-Eaten Burgers!</h1>
      </div>
    </div>
    <div class="col-6">
      <div class="shadow-lg p-3 mb-3 bg-danger rounded">
        <h1>Burgers Devoured!</h1>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-5">
      {{#each burgers}}
      {{#unless this.devoured}}
      <div class="card text-white bg-success mb-2">
        <div class="card-body m-1 p-2">
          <h5 class="card-title text-center"><span class="badge badge-pill badge-info float-left">{{this.id}}.</span>
            {{this.burger_name}}<span class="float-right">
              <button class="change-devoured btn btn-danger btn-sm ml-2" data-id="{{this.id}}">
                DEVOUR!
              </button></span>
          </h5>
        </div>
      </div>
      {{/unless}}
      {{/each}}
    </div>
    <div class="col-3">
      <div class="card bg-success text-white">
        <img src="./assets/img/burger.jpg" class="card-img-top align-middle rounded-circle" alt="Burger image">
        <div class="card-body">
          <h4 class="card-title">Add New Burger!</h4>
          <form class="create-form">
            <div class="form-group text-left">
              <label for="burgercreate">Burger Name:</label>
              <input class="form-control text-center" type="text" id="burgercreate" name="burgername"
                placeholder="Cheeseburger">
            </div>
            <button class="btn-dark btn btn-block" type="submit">Submit Burger</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-4 text-center">
      {{#each burgers}}
      {{#if this.devoured}}
      <div class="card text-white bg-danger mb-2">
        <div class="card-body m-1 p-2">
          <h5 class="card-title text-center"><span class="badge badge-pill badge-info float-left">{{this.id}}.</span>
            {{this.burger_name}}</h5>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>