<h1 class="text-center display-1 jumbotron">EAT-DA-BURGER</h1>

<div class="container">
  <div class="row text-center">
    <div class="col-4">
      <h2>AVAILABLE BURGERS</h2>
        {{#each burgers}}
        {{#unless this.devoured}}
        <div class="row">
        <div class="col-9">
          {{this.id}}.{{this.burger_name}}
        </div>
        <div class="col-3">
          <button class="change-devoured" data-id="{{this.id}}">
            DEVOUR IT!
          </button>
          </form>
        </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>
      <div class="col-4">
      <h2>Add a Burger!</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="burgercreate">Burger Name:</label>
          <input type="text" id="burgercreate" name="burgername">
        </div>
        <button type="submit">Add Burger</button>
      </form>
    </div>
      <div class="col-4 text-center">
        <h2>DEVOURED BURGERS</h2>
        {{#each burgers}}
        {{#if this.devoured}}
        <div class="row">
          <div class="col-12">
            {{this.id}}.{{this.burger_name}}
          </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
  </div>

</div>


{{!-- <h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
     <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
	DEVOUR
	</button>


</li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form> --}}